/*旅行清單*/
.list {
	height:520px;
	background:rgba(0,0,0,0.7);
	z-index:1;
}
.list, .list a {
	color:white !important;
}
.list ::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
.list ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.list ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(200,200,200,0.7); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#timeline{
	max-height: 400px;
	border-left: dotted white;
	overflow-y:auto;
}


#dates {
	width: 100%;
	cursor: url(<%=asset_path('cursor_hand.png')%>),auto;
	position: relative;
}
#dates li {
	list-style: none;	
	font-size: 1em;
}
#dates a {
	color: #ffffcc;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	background: url(<%=asset_path('biggerdot.png')%>) left center no-repeat;
	padding-left: 10px;
}
#dates a:hover ,a.selected {
	color: #ffcc00;
}
#dates .selected {
	color: #ffcc00;
}


#trip_logo {
	width:50px;
	float:left;
	margin: 15px 15px 0 15px;
}
#trip_logo img {
	width:40px;
}

.trip_list_info{
	width: 80%;
	float: left;
	margin:5px 0px 5px 40px;
	padding: 2px;
	
background: -moz-linear-gradient(left,  rgba(76,76,76,0.5) 0%, rgba(89,89,89,0.5) 6%, rgba(102,102,102,0.5) 19%, rgba(71,71,71,0.3) 55%, rgba(44,44,44,0.3) 81%, rgba(28,28,28,0.3) 91%, rgba(19,19,19,0.3) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(76,76,76,0.5)), color-stop(6%,rgba(89,89,89,0.5)), color-stop(19%,rgba(102,102,102,0.5)), color-stop(55%,rgba(71,71,71,0.3)), color-stop(81%,rgba(44,44,44,0.3)), color-stop(91%,rgba(28,28,28,0.3)), color-stop(100%,rgba(19,19,19,0.3))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(76,76,76,0.5) 0%,rgba(89,89,89,0.5) 6%,rgba(102,102,102,0.5) 19%,rgba(71,71,71,0.3) 55%,rgba(44,44,44,0.3) 81%,rgba(28,28,28,0.3) 91%,rgba(19,19,19,0.3) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(76,76,76,0.5) 0%,rgba(89,89,89,0.5) 6%,rgba(102,102,102,0.5) 19%,rgba(71,71,71,0.3) 55%,rgba(44,44,44,0.3) 81%,rgba(28,28,28,0.3) 91%,rgba(19,19,19,0.3) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(76,76,76,0.5) 0%,rgba(89,89,89,0.5) 6%,rgba(102,102,102,0.5) 19%,rgba(71,71,71,0.3) 55%,rgba(44,44,44,0.3) 81%,rgba(28,28,28,0.3) 91%,rgba(19,19,19,0.3) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(76,76,76,0.5) 0%,rgba(89,89,89,0.5) 6%,rgba(102,102,102,0.5) 19%,rgba(71,71,71,0.3) 55%,rgba(44,44,44,0.3) 81%,rgba(28,28,28,0.3) 91%,rgba(19,19,19,0.3) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 */
	box-shadow:-2px 3px 10px #000000;
	border-radius: 2px;
}

.trip_edit {
	display:none;
	position: relative;
	top: 0px;
	right: 0px;
	float: right;
	cursor: pointer;
}
.trip_edit_menu {
	display:none;
	position: absolute;
	width: 60px;
	right: 0px;
	background:lightGrey;
	border-radius: 3px;
	color: blue;
	text-align: center;
}
.trip_edit_menu img {
	float: left;
        margin: 1px 5px 1px 0;
	width: 16px;
}
.trip_edit_menu div {
        padding:3px 5px;
        cursor:pointer;
}
.trip_edit_menu div:hover {
        background-color:#F8CB9C;
}
.trip_list_date {
	cursor:pointer;
	width:90%;
}
.trip_list_name {
	word-break: break-all;
    cursor:pointer;
}

.trip_list_info:hover .trip_edit {
        display: inline;
}
.now_info {
	float: left;
	width: 260px;
	margin-bottom: 10px;
	font-family: 微軟正黑體;
}