/*旅行清單*/
.list {
	height:485px;
	background:rgba(0,0,0,0.7);
	z-index:1;
}
.list, .list a {
	color:white;
}
.list ::-webkit-scrollbar {
	width: 8px;
	height: 10px;

}
.list ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.list ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(200,200,200,0.7); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#trip_create_button {
  width:53px;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  overflow: hidden;
  white-space:nowrap
}

#trip_create_button:hover{
  width:110px;
}

.showText{
  opacity: 0;
  transition: opacity 0.5s;
}
#trip_create_button:hover .showText{
  opacity: 1;
}


#timeline{
	max-height: 350px;
	border-left: dotted white;
	overflow-y:auto;
}


#dates {
	width: 100%;
	cursor: pointer;
	position: relative;
}
#dates li {
	list-style: none;	
}
#dates a {
	padding-left: 10px;
	font-size: 1.5em;
}



#trip_logo {
	width:50px;
	float:left;
	margin: 15px 15px 0 15px;
}
#trip_logo img {
	width:40px;
}

.trip_list_info{
	width: 80%;
	float: left;
	margin:5px 0px 5px 40px;
	padding: 2px;
	
	box-shadow:-2px 3px 10px #000000;
	border-radius: 2px;
}

.trip_edit {
	display:none;
	position: relative;
	top: 0px;
	right: 0px;
	float: right;
	cursor: pointer;
}
.trip_edit_menu {
	display:none;
	position: absolute;
	width: 70px;
	right: 0px;
	background:lightGrey;
	border-radius: 3px;
	color: blue;
	text-align: center;
}
.trip_edit_menu img {
	float: left;
        margin: 1px 5px 1px 0;
	width: 16px;
}
.trip_edit_menu div {
        padding:3px 5px;
        cursor:pointer;
}
.trip_edit_menu div:hover {
        background-color:#F8CB9C;
}
.trip_list_date {
	cursor:pointer;
	width:90%;
}
.trip_list_name {
	word-break: break-all;
    cursor:pointer;
}

.trip_list_info:hover .trip_edit {
        display: inline;
}
.now_info {
	float: left;
	width: 260px;
	margin-bottom: 10px;
	font-family: 微軟正黑體;
}