var Data=(function(){
	return {
		/*載入********************************************************************************/
	
		//載入旅行列表
		loadTripList:function(user_id,callback){
			log('loadTripList'+user_id);
			DataStatus.owner_user_id=user_id;
			$('#load_trip').show();	
			//無刷新跳轉
			var state={
				title:document.title,
				url:'/rapid/triplist/'+user_id,
				trip_id:DataStatus.trip_id
			}
			window.history.pushState(state,document.title,'/rapid/triplist/'+user_id);
			//取得權限
			$.get("/user/hasPermission/"+user_id,null,function(result2){
				DataStatus.isOwner=result2;
				
				//取得旅行
				$.get("/trip/getTripList/"+user_id,null,function(result1){
					if(result1[1].fbid){
						$('#person_avatar img').attr('src','https://graph.facebook.com/'+result1[1].fbid+'/picture');
					}else{
						$('#person_avatar img').attr('src','<%=asset_path("user_avatar.png")%>');
					}
					$('#person_name').text(result1[1].username);		
					
					DataStatus.tripList=result1[0];

					$('#load_trip').hide();	
					if(callback){
						callback();
					}
				});
			});
		},

		//載入旅行
		loadTrip:function(id,tp_id,callback){
			$('#load_point').show();
			var b=back;
			//因應無刷新跳轉  做的上一頁紀錄
			var state={
				title:document.title,
				url:'/'+id,
				trip_id:id
			}
			//trip_id=id;
			resetEnv();
			DataStatus.trip_id=id;
			
			
			//讀取此旅行權限
			$.get("/trip/hasPermission/"+DataStatus.trip_id,null,function(owner){
				DataStatus.isOwner=owner;
				//取得旅行資訊
				$.get("/trip/getTrip/"+DataStatus.trip_id,null,function(result){
					//旅行不存在 導回首頁
					if(!result)
						window.location="/";
						
					//無刷新跳轉改變url
					window.history.pushState(state,document.title,'/'+DataStatus.trip_id);	
					document.title=result[0].name+' - WanderWorld地球漫遊';
					DataStatus.trip_name=result[0].name;
					
					//設定頭像名字
					if(result[2]){
						$('#person_avatar img').attr('src','https://graph.facebook.com/'+result[2]+'/picture');
					}else{
						$('#person_avatar img').attr('src','<%=asset_path("user_avatar.png")%>');
					}
					$('#person_name').text(result[1]);
					user_id=result[0].user_id;
					DataStatus.owner_user_id=result[0].user_id;
					
					//設定旅行名稱
					trip_name=result[0].name;
					DataStatus.trip_name=trip_name;
					
					//設定旅行日期
					var date;
					if(result[0].start_date=='')
						date='請輸入日期';
					if(result[0].start_date==result[0].end_date){
						date=result[0].start_date.replace(/-/g,'/');
					}else{		
						date=result[0].start_date.replace(/-/g,'/')+' - '+result[0].end_date.replace(/-/g,'/');
					}
					DataStatus.trip_date=date;
					
					
					//設定狀態
					
					var status;
					if( getdate() < result[0].start_date ){
						status='倒數 '+getDateDiff(result[0].start_date,getdate())+' 天';
					}else if(getdate() >= result[0].start_date && getdate() <= result[0].end_date){
						status='正在旅行';
					}else if( getdate() > result[0].end_date ){
						status='';
					}
					
					DataStatus.trip_status=status;
					
					if(callback.tripInfo){
						callback.tripInfo();
					}
					//設定瀏覽次數
					$.get('/trip/getTripCount',{id:DataStatus.trip_id},function(r){
						$('#count').text(r);
					});			
				});		
						
				//取得景點
				$.get("/trip/getTripPointList/"+id,null,function(result){
					var groups=result[0];
					var trip_points=result[1];
					var places=result[2];
					
					for(i=0; i<trip_points.length;i++){
						trip_points[i].place=places[i];
					}
					
					//DataStatus.tripPointList=trip_points;
					
					$('#load_point').hide();	
					
					if(callback.tripPointList){
						callback.tripPointList(groups,trip_points);
					}
				});						
			});			
			
		},

		/*旅行列表********************************************************************************/

		//建立旅行
		createTrip:function(callback){
			log('createTrip');
			$.post('/trip/create_trip',{trip:{name:'請輸入旅行名稱',start_date:getdate(),end_date:getdate()}}
				,function(trip_id){
					/*if(result!=""){
						var state={
							title:document.title,
							url:'/'+trip_id,
							trip_id:trip_id
						}
						window.history.pushState(state,document.title,'/'+trip_id);
					}else{
						log("儲存失敗,您可能斷線,或我們機器出現異常");
					}*/
					if(callback){
						callback(trip_id);
					}
			});
		},
		//刪除旅行
		deleteTrip:function(id){
			log('deleteTrip'+id);
			if(window.confirm('您確定要刪除?') == true){
				$('#trip_list_'+id).remove();
				$.get("/trip/deleteTrip/"+id,function(){});
			}
		},

		/*旅行********************************************************************************/

		//儲存旅行名稱
		saveTripName:function(){
			log('saveTripName');
			var name = $('#trip_name a').text();
			$.get('/trip/editTripName/'+DataStatus.trip_id,{new_name:name},null);
			DataStatus.trip_name=name;
		},
		//儲存旅行日期
		saveTripDate:function(){
			log('saveTripDate');
			
			if($("#trip_date a").text().split('-')[1])
				$.get('/trip/editTripDate/'+DataStatus.trip_id,{start_date:$("#trip_date a").text().split('-')[0], end_date:$("#trip_date a").text().split('-')[1]},null);
			else
				$.get('/trip/editTripDate/'+DataStatus.trip_id,{start_date:$("#trip_date a").text().split('-')[0], end_date:$("#trip_date a").text().split('-')[0]},null);
			
		},

		/*群組********************************************************************************/

		//建立群組
		createGroup:function(title,callback){
			log('createGroup');
			$.post('/trip/createGroup',{title:title,trip_id:DataStatus.trip_id},function(result){if(callback)callback(result);});
		},
		//儲存群組名稱
		saveGroupName:function(id){	
			log('saveGroupName');
			var t = $('.trip_point_group:[data-id='+id+'] .journal_title a').text();
			$.post('/trip/editGroupTitle',{id:id,title:t});
		},
		//刪除群組
		deleteGroup:function(id){
			log('deleteGroup');
			$.get("/trip/deleteGroup/"+id);
		},

		//改變旅行順序
		changeGroupOrder:function(group_id,new_sort_id){
			log('changGroupOrder');
			$.get('/trip/changeGroupOrder',{trip_id:DataStatus.trip_id,group_id:group_id,new_sort_id:new_sort_id},function(result){});
		},

		/*景點********************************************************************************/

		//儲存景點
		saveTripPoint:function(tripPoint_id,place_id,sort_id,group_id,callback){
			log('saveTripPoint');
			$.post("/trip/insertPointById/"+DataStatus.trip_id
				,{tripPoint_id:tripPoint_id,trip_point:{place_id:place_id,sort_id:sort_id,group_id:group_id}}
				,function(result){
				
					//完成
					if(result==null){
						alert('save failed');
						return ;
					}
					
					if(callback)
						callback(result);
			});
		},


		//建立景點
		createPlace:function(title,lng,lat,city,callback){
			$.post("/place/create_place",{place:{name:title,longitude:lng,latitude:lat,city:city}},callback);
		},

		//改變旅行景點順序
		changeTripPointOrder:function(tripPoint_id,new_sort_id,new_group_id){
			log('changeTripPointOrder');
			$.get('/trip/changeTripPointOrder',{trip_id:DataStatus.trip_id,tripPoint_id:tripPoint_id,new_sort_id:new_sort_id,new_group_id:new_group_id},function(result){});
		},

		//刪除旅行景點
		deleteTripPoint:function(tripPoint_id){
			log('deleteTripPoint');
			$.get('/trip/removePoint/'+tripPoint_id,function(result){
				if(!result){
					log('您可能斷線,或伺服器異常,無法刪除此點');
				}
			});	
		},
		/*//儲存旅行景點
		
		saveTripPoint:function(item_id,callback){
			log('saveTripPoint');
			if(trip_id==-1)
				createTrip(function(){
					$.post("/trip/insertPointById/"+trip_id,{tripPoint_id:-1,trip_point:{sort_id:pointData[item_id].sort_id,place_id:pointData[item_id].place_id,group_id:????}},function(result){
				//完成  
					if(result==null)
						pointData[result[1]].tripPoint_id=-1;
					else if(result[0]>=0&&result[1]>=0)
						pointData[result[1]].tripPoint_id=result[0];
						
						var state={
							title:document.title,
							url:'/'+trip_id+'/'+result[0],
							trip_id:trip_id
						}
						window.history.pushState(state,document.title,'/'+trip_id+'/'+result[0]);
						if(callback)
							callback();
					});
				});
			else
				$.post("/trip/insertPointById/"+trip_id,{tripPoint_id:-1,trip_point:{sort_id:pointData[item_id].sort_id,place_id:pointData[item_id].place_id}},function(result){
				//完成
						if(result==null)
						pointData[result[1]].tripPoint_id=-1;
					else if(result[0]>=0&&result[1]>=0){
						pointData[result[1]].tripPoint_id=result[0];
						var state={
							title:document.title,
							url:'/'+trip_id+'/'+result[0],
							trip_id:trip_id
						}
						window.history.pushState(state,document.title,'/'+trip_id+'/'+result[0]);

						if(callback)
							callback();
					}
				});
		},
		//尋找旅行景點
		findTripPoint:function(tp_id){
			var i=0;
			for(;i<pointData.length;i++){
				if(pointData[i]&&pointData[i].tripPoint_id==tp_id)
					return i;
			}
			return null;
		},
		*/
		/*遊記********************************************************************************/

		//儲存遊記
		savePost:function(item_id){
			log('savePost:'+item_id);
			$.post('/micropost/savePost',{tripPoint_id:item_id,trip_id:DataStatus.trip_id,content:DataStatus.contentList[item_id]},function(result){
				if(result){
					log('write successful');	
							
				}else{
					log('write fail');
				}
			});
		},
		updateGroupPhoto:function(group_id){
			$.post('/trip/updateGroupPhoto',{group_id:group_id},function(result){
				if(result){
					log('updatePhotoYes');
				}else{
					log('updatePhotoYes');
				}
			});
		},
		//發布遊記
		setGroupRelease:function(group_id,callback){
			$.get('/trip/setGroupPublic',{id:group_id},callback);
		},
		setGroupPrivate:function(group_id,callback){
			$.get('/trip/setGroupPrivate',{id:group_id},callback);
		},
		//是否為public?
		isGroupPublic:function(group_id,callback){
			$.get('/trip/isGroupPublic',{id:group_id},function(result){
				if(callback)
					callback(result);
			});
		},

		//儲存遊記全內容
		saveFullPost:function(item_id,callback){
			log('saveFullPost:'+item_id);
			$.post('/fullpost/savePost',{tripPoint_id:pointData[item_id].tripPoint_id,trip_id:DataStatus.trip_id,content:pointData[item_id].post_entire},function(result){
				if(result){
					log('write successful');
					if(callback)
						callback();
				}else{
					log('write fail');
				}
			});
		},


		loadPost:function (group_id,callback){
				
				$.get('/micropost/getPost',{group_id:group_id},function(result){
					if(result[0]){
						for(var i in DataStatus.groupList){
							if(DataStatus.groupList[i].id==group_id){
								document.title='WanderWorld地球漫遊 - '+DataStatus.groupList[i].title;
								break;
							}
						}
						
						var state={
							title:document.title,
							url:'/'+DataStatus.trip_id+'/'+group_id,
							trip_id:DataStatus.trip_id
						}
						window.history.pushState(state,document.title,'/'+DataStatus.trip_id+'/'+group_id);
						
						
						var ids=result[0];
						var points=result[1];
						if(!DataStatus.contentList){
							DataStatus.contentList=[];
						}
						for(var i=0;i<points.length;i++){							
								DataStatus.contentList[ids[i]]=points[i];
						}		
						if(!DataStatus.isPublic){
							DataStatus.isPublic=[];
						}
						DataStatus.isPublic[group_id]=result[2];
						DataStatus.group_id=group_id;
					}else{
						log('您可能斷線了,或是我們伺服器出現某些問題,無法讀取文章');
					}
					
					if(callback)
						callback();
				});			
			//}
		},
		loadOnePost:function(id,callback){
			$.get('/micropost/getOnePost',{tripPoint_id:id},function(result){
				if(result[0]){
					if(!DataStatus.contentList){
						DataStatus.contentList=[];
					}
					DataStatus.contentList[id]=result[0];	
				}else{
					log('您可能斷線了,或是我們伺服器出現某些問題,無法讀取文章');
				}
				
				if(callback)
					callback();
			});			
		}
	};
}());

/*lookingAround********************************************************************************/

//取得好友的旅行
function getFriendTrip(friend_list){
	var uid_list=new Array();
	for(i=0;i<friend_list.length;i++){
		uid_list[i]=friend_list[i].uid;
	}
	$.post('/trip/getFriendTripByFbid',{uid_list:uid_list},function(r){
		var friend=r[0];
		friend.sort(function(a,b){return b[1]-a[1];});
		for(i=0;i<friend.length;i++){
			friend[i][2]=friend_list[friend[i][2]];
		}
		ListFriend(friend);
		listFriendNew(r[1],r[2],r[3],r[4]);
	});
}
//取得好友清單
function ListFriend(f_list){
	var str='';
	for(i=0;i<f_list.length;i++){
		str+='<div class="friend_list" onclick="toTrip('+f_list[i][0]+')">';
		str+='	<div class="friend_img"> <img id="friend_img_'+i+'" src="'+f_list[i][2].pic+'"> </div>';
		str+='	<div class="friend_info">';
		str+='		<div class="friend_name">'+f_list[i][2].name+'</div>';
		str+='		<div class="friend_travel">有'+f_list[i][1]+'篇旅行紀錄</div>';
		str+='	</div>';
		str+='</div>';		
	}
	$('.friend_all').append(str);
	$('#loading').css('display','none');
}

function listFriendNew(post,tp,t_name,author){
	$('#aboutFriendFunc').remove();
	toFriend();
	for(i=0;i<6;i++){
		if(post[i])
			$('#friendLine1').append('<div class="trip_item"><h3 class="tripname"><a href="/'+tp[i].trip_id+'/'+tp[i].id+'" title="'+tp[i].name+'/'+t_name[i]+'" target="_blank">'+tp[i].name+'</a></h3><h4 style="font-size:12pt;color:black;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;margin:0;font-weight:normal;">'+t_name[i]+'</h4><div class="tripcontent">'+post[i].article+'</div><div class="author_img"><img src="https://graph.facebook.com/'+author[i].fbid+'/picture?type=square"></div><div class="author_name">'+author[i].username+'</div><br/><div style="float:right;font-size:9pt">'+post[i].updated_at.slice(0,10)+'</div> </div>');
		else
			$('#friendLine1').append('<div class="trip_item"></div>');
	}
}

function toTrip(i){
	window.open('/'+i,'_blank');	
	//window.location='/'+i;
}

