var PathOnMap=(function(){
	var pointData=[];
	var tmp_mark;
	
	var infowindow=null;
	
	var showMarkDetail=function(item_id){

		if(infowindow!=null){
			infowindow.close();
		}
		infowindow=new google.maps.InfoWindow({
			content: '<div style="font-weight:bold;font-size:16px">'+pointData[item_id].title+'</div>'
					+'<div style="height:20px"></div>'
					+'<a href="javascript:PathOnMap.clickReadJournal('+pointData[item_id].group_id+','+item_id+')">'
					+'<div><button id="trip_create_button" class="button" style="left:115px;border-radius:1000px;">閱讀遊記</button>'
					+'</a></div>'
		});
		infowindow.open(map,pointData[item_id]);
		google.maps.event.addListener(infowindow,'closeclick',function(){
			tripPointList.UiControl.unselectTripPoint();
		});
	};
	
	return {
		//建立標記
		createMark:function(title,item_id,latlng,canvasURL){
			var item=new google.maps.Marker({
				position: latlng,
				map: map,
				title: title,
				icon: canvasURL,
				//animation: google.maps.Animation.DROP,
				draggable: false,
				item_id:item_id
			});
			google.maps.event.addListener(item, 'click', 
				function(){
					showMarkDetail(item_id);
				}
			);
			item.setMap(map);
			pointData[item_id]=item;
			map.setCenter(latlng);

		},
		//更新標記的icon(數字及顏色)
		updateMark:function(){
			if(pointData.length>0){
				for(p_i in pointData){
					pointData[p_i].setMap();
					if(pointData[p_i].polyline){
						pointData[p_i].polyline.setMap();
					}
				}
			}
			pointData=[];
			
			var tpList = DataStatus.tripPointList;
			var groupList = DataStatus.groupList;
			var i=1;
			for(var g_i in groupList){
				var group_id=groupList[g_i].id;
				var mark_color=getGroupColor(groupList[g_i].id,groupList);
				
				for(var tp_i in tpList){
					if(tpList[tp_i].group_id==group_id){
						var id=tpList[tp_i].id;
						var latlng=new google.maps.LatLng(tpList[tp_i].place.latitude, tpList[tp_i].place.longitude, false);									
						PathOnMap.createMark(tpList[tp_i].place.name,id,latlng,getMarkURL(i++,mark_color));
						pointData[id].setDraggable(false);
						pointData[id].group_id=group_id;
					}
				}
			}
		},
		//建立未確認的暫時mark
		createTmpMark:function(title,group_id,latlng){
			this.deleteTmpMark();	

			var item=new google.maps.Marker({
				position: latlng,
				map: map,
				title: title,
				icon: getMarkURL('P',getGroupColor(group_id,DataStatus.groupList)),
				animation: google.maps.Animation.DROP,
				draggable: false,
				group_id:group_id
			});
			//google.maps.event.addListener(item, 'click', function(){toggleBounce(item);});
			item.setMap(map);
			tmp_mark=item;
			map.setCenter(latlng);
		},

		deleteTmpMark:function(){
			if(tmp_mark)
				tmp_mark.setMap();
			tmp_mark=null;
		},

		//標記彈跳動畫
		toggleBounce:function(item) {
			if(item.getAnimation() != null) {
				item.setAnimation(null);
			}else{
				item.setAnimation(google.maps.Animation.BOUNCE);
			}
		},
		//改變順序動作時重新牽線(ui=jquery.event)
		redrawLine:function(){
			debug=pointData;
			var groupList=DataStatus.groupList;
			var tpList=DataStatus.tripPointList;
			var prev_tpid,next_tpid;
			
			
			for(var p_i in pointData){
				if(pointData[p_i].polyline){
					pointData[p_i].polyline.setMap();
					pointData[p_i]=null;
				}
			}
			
			
			for(var i=0; i<groupList.length;i++){
				var gid=groupList[i].id;
				for(var j=0; j<tpList.length; j++){
					if(tpList[j].group_id==gid){
						prev_tpid=next_tpid;
						next_tpid=tpList[j].id;
						if(prev_tpid){
							var path=pointData[prev_tpid].polyline=new google.maps.Polyline({
								geodesic:true,
								map:map,
								strokeWeight:3,
								strokeColor:getGroupColor(pointData[prev_tpid].group_id),
								path:[pointData[prev_tpid].getPosition(),pointData[next_tpid].getPosition()]
							});	
							path.setMap(map);
						}
					}
				}
			}
		},
		
		getTmpMark:function(){
			return tmp_mark;
		},
		setTmpMark_place_id:function(pid){
			tmp_mark.place_id=pid;
		},
		closeInfoWindow:function(){
			if(infowindow)
				infowindow.close();
		},
		centerOnTripPoint:function(id){
			map.setCenter(pointData[id].getPosition());
		},
		showMarkInfo:function(tripPoint_id){
			showMarkDetail(tripPoint_id);
		},
		clickReadJournal:function(group_id,id){
			contentBox.UiControl.showContent(group_id,id);
			tripPointList.setShowingGroup(group_id);
		}
	};
}());