var PathOnMap=(function(){
	var pointData=[];
	var tmp_mark;
	
	var infowindow=null;
	
	var showMarkDetail=function(item_id){

		if(infowindow!=null){
			infowindow.close();
		}

		infowindow=new google.maps.InfoWindow({
			content: '<div style="font-weight:bold;font-size:16px">'+pointData[item_id].title+'</div>'
					+'<div style="height:20px"></div>'
					+'<a class="button round medium right" href="javascript:PathOnMap.clickReadJournal('+pointData[item_id].group_id+','+item_id+')">'
					+'閱讀遊記'
					+'</a>'
		});
		infowindow.open(map,pointData[item_id]);
		google.maps.event.addListener(infowindow,'closeclick',function(){
			//tripPointList.unselectTripPoint();
		});
	};
	
	return {
		//建立標記
		createMark:function(title,item_id,group_id,latlng,canvasURL){
			var item=new google.maps.Marker({
				position: latlng,
				map: map,
				title: title,
				icon: canvasURL,
				//animation: google.maps.Animation.DROP,
				draggable: false,
				item_id:item_id,
				group_id:group_id
			});
			google.maps.event.addListener(item, 'click', 
				function(){
					tripPointList.selectTripPoint(item_id);
					tripPointList.selectGroup(group_id);
					showMarkDetail(item_id);
				}
			);
			item.setMap(map);
			pointData[item_id]=item;
			map.setCenter(latlng);

		},
		//更新標記的icon(數字及顏色)
		updateMark:function(){
			if(pointData.length>0){
				for(p_i in pointData){
					pointData[p_i].setMap();
					if(pointData[p_i].polyline){
						pointData[p_i].polyline.setMap();
					}
				}
			}
			pointData=[];
			
			
			var groupList = $('.trip_point_group');
			var i=1;
			
			
			for(var g_i=0; g_i<groupList.length; g_i++){
				var group_id=groupList.eq(g_i).data('id');
				var mark_color=getGroupColor(group_id,groupList);
				
				var tpList = groupList.eq(g_i).find('.point');
				for(var tp_i=0; tp_i<tpList.length; tp_i++){
					var id=tpList.eq(tp_i).data('id');
					var latlng=new google.maps.LatLng(tpList.eq(tp_i).data('latitude'), tpList.eq(tp_i).data('longitude'), false);									
					PathOnMap.createMark(tpList.eq(tp_i).find('.point_name').text(),id,group_id,latlng,getMarkURL(i++,mark_color));
					pointData[id].setDraggable(false);
				}
				
			}
		},
		//建立未確認的暫時mark
		createTmpMark:function(title,group_id,latlng){
			this.deleteTmpMark();	

			var item=new google.maps.Marker({
				position: latlng,
				map: map,
				title: title,
				icon: getMarkURL('P',getGroupColor(group_id,DataStatus.groupList)),
				animation: google.maps.Animation.DROP,
				draggable: true,
				group_id:group_id
			});
			//google.maps.event.addListener(item, 'click', function(){toggleBounce(item);});
			item.setMap(map);
			tmp_mark=item;
			map.setCenter(latlng);
		},

		deleteTmpMark:function(){
			if(tmp_mark)
				tmp_mark.setMap();
			tmp_mark=null;
		},

		//標記彈跳動畫
		toggleBounce:function(item) {
			if(item.getAnimation() != null) {
				item.setAnimation(null);
			}else{
				item.setAnimation(google.maps.Animation.BOUNCE);
			}
		},
		//改變順序動作時重新牽線(ui=jquery.event)
		redrawLine:function(){
			var groupList=$('.trip_point_group');
			var prev_tpid,next_tpid;
			
			
			for(var p_i in pointData){
				if(pointData[p_i].polyline){
					pointData[p_i].polyline.setMap();
					pointData[p_i]=null;
				}
			}
			
			
			for(var i=0; i<groupList.length;i++){
				var gid=groupList.eq(i).data('id');
				
				var tpList=groupList.eq(i).find('.point');
				for(var j=0; j<tpList.length; j++){
					prev_tpid=next_tpid;
					next_tpid=tpList.eq(j).data('id');
					if(prev_tpid){
						var path=pointData[prev_tpid].polyline=new google.maps.Polyline({
							geodesic:true,
							map:map,
							strokeWeight:3,
							strokeColor:getGroupColor(pointData[prev_tpid].group_id),
							path:[pointData[prev_tpid].getPosition(),pointData[next_tpid].getPosition()]
						});	
						path.setMap(map);
					}
				}
			}
		},
		
		getTmpMark:function(){
			return tmp_mark;
		},
		setTmpMark_place_id:function(pid){
			tmp_mark.place_id=pid;
		},
		closeInfoWindow:function(){
			if(infowindow)
				infowindow.close();
		},
		centerOnTripPoint:function(id){
			map.setCenter(pointData[id].getPosition());
		},
		showMarkInfo:function(tripPoint_id){
			showMarkDetail(tripPoint_id);
		},
		clickReadJournal:function(group_id,id){
			console.log('loadComments '+group_id);
			commentBox.loadComments(group_id);
			contentBox.UiControl.showContent(group_id,id);
			tripPointList.setShowingGroup(group_id);
			tripPointList.scrollToListItem(id); 
		}
	};
}());