/* 功能性Div元件
	html預配置
	#trip_name
	#trip_date
	#trip_status
	
*/
var TripPointListbarModule = function(obj){		
	var tripPointListStr= '<div class="trip_point_all">\
						<div id="group_bottom" style="clear: both;display: block"></div>\
						</div>';
	
	var target=$(obj);
	
	var tripNameInstance= new TripNameModule(target);
	var tripDateInstance= new TripDateModule(target);
	
	var groupItemManager = new GroupItemModule(target);
	var tripPointItemManager = new TrippointItemModule(target);
	
	var listSequenceInstance = new ListSequenceModule();
		
	var editingGroupNameInput;
	
	var moduleInstance;
	

	groupItemManager.setTripPointItemManager(tripPointItemManager);
	tripPointItemManager.setGroupItemManager(groupItemManager);
	
	tripPointEdit.setTripPointItemManager(tripPointItemManager);
	tripPointEdit.setGroupItemManager(groupItemManager);
	
	//依照權限切換ui
	var tripInfo_ownerModeSwitch=function(t){
		tripNameInstance.ownerModeSwitch(t);
		tripDateInstance.ownerModeSwitch(t);
	};
	
	var tripPointList_ownerModeSwitch=function(t){
		groupItemManager.ownerModeSwitch(t);
		listSequenceInstance.ownerModeSwitch(t);
		
		if(t){		
			target.find('.editTool').show();
		}else{		
			target.find('.editTool').hide();	
		}
		
	};

	//控鍵Listener
	var	UiListener={					
		//按下返回旅行列表(click)
		returnTripList:function(){
			//resetEnv();		
			contentBox.cancelEditWarning(-1,function(){
				target.hide();
				contentBox.UiControl.hide();
				contentBox.reset();
				$('#trip_list').show();
				loadTripList(DataStatus.owner_user_id);
				toTop();
				map.setCenter(new google.maps.LatLng(23.80, 121.500));
				map.setZoom(8);
			});
		}		
		
	};
	
	return {
		//初始化
		init_trippoint_listbar : function (){
			console.log('init_trippoint_listbar');
			moduleInstance=this;
			//裝載旅行名稱及輸入框enter鍵listener
			
			tripNameInstance.init();		
			tripDateInstance.init();
			groupItemManager.init();
			tripPointItemManager.init();
			
			listSequenceInstance.setTripPointItemManager( tripPointItemManager );
		
			target.find('#return_triplist').click(UiListener.returnTripList).attr('href','#');
			
			
			EnvData.isTripPointListLoaded=true;
		},
		initJavascript:function(){
			if(!EnvData.isTripPointListLoaded){
				this.init_trippoint_listbar();
			}
			groupItemManager.initJavascript();
			tripPointItemManager.initJavascript();
			
			tripInfo_ownerModeSwitch(DataStatus.isOwner);
			
			PathOnMap.updateMark();		
			PathOnMap.redrawLine();
		},
		reset:function(){
			groupItemManager.reset();
			showingGroup=null;
		},
		//載入旅行資訊
		loadTripInfo:function(){
			if(!EnvData.isTripPointListLoaded){
				this.init_trippoint_listbar();
			}
			tripNameInstance.refresh();
			tripDateInstance.refresh();
			//tripStatusInstance.refresh();
			
			tripInfo_ownerModeSwitch(DataStatus.isOwner);	
		},
		//載入景點清單
		loadTripPointList:function(groupList,pointList){
			console.log('loadTripPointList');
			if(!EnvData.isTripPointListLoaded){
				this.init_trippoint_listbar();
			}
			groupItemManager.refresh(groupList);
			tripPointItemManager.refresh(pointList);
						
			tripPointList_ownerModeSwitch(DataStatus.isOwner);			
			
			PathOnMap.updateMark();		
			PathOnMap.redrawLine();
			reLayout();
			
		},
	
				
		UiControl:{
			show:function(){
				$(target).show();
			},
			hide:function(){
				$(target).hide();
			}			
		},
		
		//給dateplugin開的口
		finishEditTripDate:function(){
			tripDateInstance.finishEditTripDate();
		},
		//給newTrip開的口
		editTripName:function(){
			UiListener.clickEditTripName();
			target.find('#trip_name_input').select();
		},
		
		showTravelJournal:function(){
			UiListener.returnTripList();
		},
		showJournal:function(group_id){				
			if(showingGroup!=group_id){
				var tmp=[];
				var tpList=DataStatus.tripPointList;
				for(var i=0; i<tpList.length;i++){
					if(tpList[i].group_id==group_id){
						tmp.push(tpList[i]);
					}
				}
				
				computeMap(tmp);
			}		
			contentBox.UiControl.showContent(group_id);					
			this.scrollToListItem(target.find('#trip_point_group_'+group_id+' li:first').val());
			
			showingGroup=group_id;
		},
		scrollToListItem:function(tp_id){
			var item=$('.list li[value='+tp_id+']');
			var list=$('#trip_point_list');
			list.scrollTop(item.position().top-$('.trip_point_group:first').position().top-list.height()/2,500);
		},
		setShowingGroup:function(group_id){
			showingGroup=group_id;
		}
	};
};
