var TripPointEditModule = function(item){
	var newTripPointInput;
	var newTripPointData={};
	var target = $(item);
	var confirmWindow;
	
	target.find('.finish').click(function(){tripPointEdit.UiListener.finishSetNewManPos();});
	

	//計算欲新增景點的sort_id
	var getNewTripPoint_sort_id=function(){
		
		var group_id=newTripPointData.group_id;
		
		//input所在group內中的最大sort_id
		var lowbound=null;
		
		var tripPointList = DataStatus.tripPointList;
		var tplen=tripPointList.length;
		
		//找尋input所在group內中的最大sort_id
		for(var i=0; i<tplen; i++){
			if(tripPointList[i].group_id==group_id){
				if(lowbound == null || tripPointList[i].sort_id > lowbound){
					lowbound = tripPointList[i].sort_id;
				}
			}
		}
		
		if(lowbound==null){
			return 0;
		}else{
			return lowbound+1;
		}
		
	};
	
	//判斷現在位置所在區域
	var findPosZone=function(name,latlng,ok_callback){
		var gcoder=new google.maps.Geocoder();		
		gcoder.geocode({'latLng':latlng,'region':'TW'},function(results,status){
			if(status==google.maps.GeocoderStatus.OK){
				var i;
				var city;
				for(i=0;i<results[0].address_components.length;i++){
					if(results[0].address_components[i].types[0]==='administrative_area_level_3'){
						city=results[0].address_components[i].long_name;
						break;
					}else if(results[0].address_components[i].types[0]==='administrative_area_level_2'){
						city=results[0].address_components[i].long_name;
						break;
					}else if(results[0].address_components[i].types[0]==='administrative_area_level_1'){
						city=results[0].address_components[i].long_name;
						break;
					}else if(results[0].address_components[i].types[0]==='country'){
						city=results[0].address_components[i].long_name;
						break;
					}
				}
				if(!city)
					city="";
				if(ok_callback)
					ok_callback(name,city,latlng);
			}else{
			}
		});
	};

		//尋找未知位置
	var findUnknowPos=function(group_id,name,search_str,ok_callback,new_callback,fail_callback){
		var gcoder=new google.maps.Geocoder();
		gcoder.geocode({'address':search_str,'region':'TW'},function(results,status){
			if(status==google.maps.GeocoderStatus.OK){
				var i;
				var city;
				for(i=0;i<results[0].address_components.length;i++){
					if(results[0].address_components[i].types[0]==='administrative_area_level_3'){
						city=results[0].address_components[i].long_name;
						break;
					}else if(results[0].address_components[i].types[0]==='administrative_area_level_2'){
						city=results[0].address_components[i].long_name;
						break;
					}else if(results[0].address_components[i].types[0]==='administrative_area_level_1'){
						city=results[0].address_components[i].long_name;
						break;
					}else if(results[0].address_components[i].types[0]==='country'){
						city=results[0].address_components[i].long_name;
						break;
					}
				}
				if(!city)
					city="";
				
				$.get("/trip/findPlace",{p_name:name,p_city:city},function(result){
					if(result){
						var t=new google.maps.LatLng(result[2],result[3],false);
						if(ok_callback)
							ok_callback(group_id,result[0],name,result[1],t);
					}else{
						if(new_callback)
							new_callback(group_id,name,city,results[0].geometry.location);
					}
				});
			}else{
				$.get("/place/search",{term:name},function(result){
					if(result.length){
						if(ok_callback){
							$.get("/trip/findPlace",{p_name:result[0].split(",")[0],p_city:result[0].split(",")[1]},function(result){
								if(result){
									var t=new google.maps.LatLng(result[2],result[3],false);
									if(ok_callback)
										$('#newTripPoint .place').val(result[4]+','+result[1]);
										ok_callback(group_id,result[0],result[4],result[1],t);
								}else{
									if(fail_callback)
										fail_callback(group_id,name);
								}
							});
						}
							
					}else{
						if(fail_callback)
							fail_callback(group_id,name);
					}
				});
			}
		});

	}
		
		//尋找景點的位置
	var findPlacePos=function(group_id,name,zone,ok_callback,new_callback,fail_callback){
		if(!name)
			return;
		if(!zone){
			zone="";
			findUnknowPos(group_id,name,name,ok_callback,new_callback,fail_callback);
			return;
		}
		var str=name+" "+zone;
		$.get("/trip/findPlace",{p_name:name,p_city:zone},function(result){
			if(result){
				var t=new google.maps.LatLng(result[2],result[3],false);
				ok_callback(group_id,result[0],name,result[1],t);
			}else{
				findUnknowPos(group_id,name,str,ok_callback,new_callback,fail_callback);
			}
		});
	};
	
	//按關鍵字尋找景點位置
	var findPos=function(group_id,str){
		findPlacePos(group_id,str,'',
		function(group_id,place_id,name,city,pos){
			var str= newTripPointData.name;
			newTripPointData.name=str;
			newTripPointData.city=city;
			newTripPointData.pos=pos;
			newTripPointData.place_id=place_id;
			
			PathOnMap.createTmpMark(str,group_id,pos);
			
			newTripPointInput.val(str+','+city);
			PathOnMap.getTmpMark().setDraggable(true);
			//ui_showPos(item_id);
		},
		function(group_id,name,city,pos){
			var str= newTripPointData.name;
			newTripPointData.name=str;
			newTripPointData.city=city;
			newTripPointData.pos=pos;
			
			PathOnMap.createTmpMark(str,group_id,pos);
			
			newTripPointInput.val(str+','+city);
			PathOnMap.getTmpMark().setDraggable(true);
			//ui_showPos(item_id);
		},null);
	};
	
	//show確認新增景點對話框
	var confirmTripPoint=function (name){
		console.log(this);
		var contentStr='<div>將<span id="3" style="font-weight:bold">&nbsp'+name+'&nbsp</span>標記在此<br />'
				+'<button onclick="tripPointEdit.UiListener.confirmOk()">確定</button>'
				+'<button onclick="tripPointEdit.UiListener.confirmCancel()">取消</button></div>'
				+'<a id="isWrong" style="float:right;color:black" href="javascript:tripPointEdit.UiListener.wrongTripPoint()">位置錯了嗎?</a>';	
		if(confirmWindow){
			//var s=(confirmWindow.item_id==item_id);
			if(confirmWindow.s_new)
				tripPointEdit.UiListener.confirmNewOK();
			else
				tripPointEdit.UiListener.confirmOk();
		//	if(s)
		//		return;
			//closePost();
		}
		confirmWindow = new google.maps.InfoWindow({
			 content: contentStr,
			 s_new:false
		});
		confirmWindow.open(map,PathOnMap.getTmpMark());	
			google.maps.event.addListener(confirmWindow,'closeclick',function(){tripPointEdit.UiListener.confirmCancel()});
		
		PathOnMap.closeInfoWindow();
	};

		//show確認新增地點對話框
	var confirmPlace=function(name){
		var contentStr='<div>你是第一個新增這個景點的朋友!<br />請拖曳<img style="width:30px;" src="'+getMarkURL('P',getGroupColor(newTripPointData.group_id,DataStatus.groupList))+'"/>將景點標記在正確位置,<br />並按下確定<br />'
				+'<button onclick="tripPointEdit.UiListener.confirmNewOK()">確定</button>'
				+'<button onclick="tripPointEdit.UiListener.confirmCancel()">取消</button></div>'
				+'<a id="isWrong" style="float:right;color:black;text-decoration:underline" href="javascript:tripPointEdit.UiListener.wrongTripPoint()">位置錯了？請按這裡</a>';	
		if(confirmWindow){
			var s=(confirmWindow);
			if(confirmWindow.s_new)
				tripPointEdit.UiListener.confirmNewOK();
			else
				tripPointEdit.UiListener.confirmOk();
			if(s)
				return;
			//closePost();
		}
		confirmWindow = new google.maps.InfoWindow({
			 content: contentStr,
			s_new:true
		});
		confirmWindow.open(map,PathOnMap.getTmpMark());
			google.maps.event.addListener(confirmWindow,'closeclick',function(){tripPointEdit.UiListener.confirmCancel();});
		PathOnMap.closeInfoWindow();
	};

	
	//需要新增找不到位置的地點
	var setNewManPos=function(){
		if(confirmWindow){
			if(confirmWindow.s_new)
				this.UiListener.confirmNewOK();
			else
				this.UiListener.confirmOk();
			$('#slidesContainer').hide();
		}
		var tmp_mark=PathOnMap.getTmpMark();
		if(tmp_mark){
			tmp_mark.setDraggable(true);
		}
		$('#add_new').show(500).find('input').val('');
		//失去焦點的時候隱藏		
		//ui_unloadTripPointSwitchControl(false);
		
		//按下取消放棄找尋地點
		$('.list').unbind('click').click(function(){
			$('.list').unbind('click');
			$('#add_new').hide(500);
			tripPointEdit.UiListener.confirmCancel();
		});
	}
	

	//關閉描點的資訊框
	var closeMarkDetail=function(){
		if(infowindow)
			infowindow.close();
	}
	//關閉確認訊息框
	var closeConfirmBox=function(){
		if(confirmWindow)
			confirmWindow.close();
		confirmWindow=null;	
	}
	
	return {

		
		//定位新的景點並加入
		addItem:function(group_id,item){
			newTripPointInput=item;
			var str=item.val();
			var box=str.split(",");
			var name=box[0];
			var city="";
			if(box[1])
				city=box[1];
			var gcoder=new google.maps.Geocoder();
			
			newTripPointData.group_id=group_id;
			newTripPointData.sort_id = getNewTripPoint_sort_id();

			findPlacePos(group_id,name,city,
			//ok_callback
			function(group_id,place_id,name,city,pos){
				newTripPointData.name=name;
				newTripPointData.city=city;
				newTripPointData.pos=pos;
				newTripPointData.place_id=place_id;
				
				PathOnMap.createTmpMark(name,group_id,pos);
				//PathOnMap.setTmpMarkInfo(group_id,place_id,city);

				item.val(name+','+city);
				confirmTripPoint(name);
				//$('#newTripLoad').appendTo($('#hide_block'));
			},
			//new pos callback
			function(group_id,name,city,pos){
				newTripPointData.name=name;
				newTripPointData.city=city;
				newTripPointData.pos=pos;
				
				
				PathOnMap.createTmpMark(name,group_id,pos);
				
				item.val(name+','+city);
				
				confirmPlace(name);
				//$('#newTripLoad').appendTo($('#hide_block'));		
			},
			//unknown pos callback
			function(group_id,name){
				newTripPointData.name=name;
				//$('#newTripLoad').appendTo($('#hide_block'));
				//提供給使用者移動標示新地點用
				$('#pointTarget').attr('src',getMarkURL('P',getGroupColor(group_id)))
				setNewManPos();
			});
		},
		
			
		UiListener:{
			//新增景點確認
			confirmOk:function(){
				var item=newTripPointInput;
				var place_id=newTripPointData.place_id;
				var sort_id=newTripPointData.sort_id;
				var group_id=newTripPointData.group_id;
				var name = newTripPointData.name;
				var tmp_mark=PathOnMap.getTmpMark();
				
				Data.saveTripPoint(-1,place_id,sort_id,group_id,function(tp){
					tripPointEdit.UiListener.confirmCancel();
					
					tp.place={
						id:place_id,
						name:name,
						latitude:tmp_mark.position.lat(),
						longitude:tmp_mark.position.lng()
					}
					
					DataStatus.tripPointList.push(tp);

					tripPointList.UiControl.enableAddTripPoint(group_id);
					tripPointList.UiControl.insertTripPoint(tp.id,group_id,name);
					tripPointList.UiControl.updateMark();
					
					
					PathOnMap.updateMark();
					PathOnMap.redrawLine();
					
					contentBox.insertNewPoint(group_id);
					tripPointList.reActSortable();
					reLayout();
					
				});
			},
				
				//新增地點確認
			confirmNewOK:function(){
				log('confirmNewOk');
				var item=newTripPointInput;
				var str=item.val();
				var box=str.split(",");
				var tmp_mark=PathOnMap.getTmpMark();
				Data.createPlace(box[0],tmp_mark.position.lng(),tmp_mark.position.lat(),box[1],function(result){
					log('finishCreatePlace');
					log(result[0]);
					if(result[0]){
						var sort_id=newTripPointData.sort_id;
						var group_id=newTripPointData.group_id;
						var place_id = result[0];
						PathOnMap.setTmpMark_place_id(result[0]);

						Data.saveTripPoint(-1,place_id,sort_id,group_id,function(tp){
							tripPointEdit.UiListener.confirmCancel();
							//PathOnMap.deleteTmpMark();
							
							tp.place={
								id:place_id,
								name:box[0],
								latitude:tmp_mark.position.lat(),
								longitude:tmp_mark.position.lng()
							}
							
							DataStatus.tripPointList.push(tp);
							
							tripPointList.UiControl.enableAddTripPoint(group_id);
							tripPointList.UiControl.insertTripPoint(tp.id,group_id,box[0]);
							tripPointList.UiControl.updateMark();
							
							
							PathOnMap.updateMark();
							PathOnMap.redrawLine();
							
							contentBox.insertNewPoint(group_id);
							
							tripPointList.reActSortable();
							
							reLayout();
							
						});
					}else{
						alert('fail save');
					}
				});
			},
				
			//取消確認對話框
			confirmCancel:function(){
				PathOnMap.deleteTmpMark();
				
				closeConfirmBox();
				closeMarkDetail();
				
				//var group_id=newTripPointData.group_id;
				
				if(newTripPointInput){
					newTripPointInput.val("");
					newTripPointInput.focus();
				}
				
				//失去焦點則刪掉新增景點輸入框
				/*setTimeout(function(){
					newTripPointInput.bind("clickoutside",function(){
							newTripPointInput.unbind("clickoutside");
							tripPointList.UiControl.enableAddTripPoint(group_id);
					});
				},50);
				*/
			},
			
			//按下新增地點的搜尋框按鈕
			searchPos:function(event){
				if(event.type=='click'||event.type=='keydown'&&event.keyCode==13)
					findPos(newTripPointData.group_id,$('#add_new input').val());
			},
			//按下自訂景點位置的完成
			finishSetNewManPos:function(){
				var tmp_mark=PathOnMap.getTmpMark();
				if(tmp_mark){

					findPosZone(newTripPointData.name,tmp_mark.position,function(name,city,pos){
						newTripPointInput.val(name+','+city);
						newTripPointData.city=city;

						Data.createPlace(name,pos.lng(),pos.lat(),city,function(result){

							if(!result){
								$('#add_new').hide();
								//ui_closeNewManPos();
								tripPointEdit.UiListener.confirmCancel();
								alert('同ID同區域卻要新增的情況：\nSorry，附近已有相同名稱的景點，導致系統無法分辨。\n\n請試著為您的景點加入多>一點資訊\n\t如：麥當勞→麥當勞中山店');
								return;
							}
							var sort_id=newTripPointData.sort_id;
							var group_id=newTripPointData.group_id;
							var place_id = result[0];
							PathOnMap.setTmpMark_place_id(result[0]);

							Data.saveTripPoint(-1,place_id,newTripPointData.sort_id,newTripPointData.group_id,function(tp){
								PathOnMap.deleteTmpMark();
								newTripPointInput.val('');
								
								tp.place={
									id:place_id,
									name:name,
									latitude:tmp_mark.position.lat(),
									longitude:tmp_mark.position.lng()
								}
								
								DataStatus.tripPointList.push(tp);
								
								tripPointList.UiControl.enableAddTripPoint(group_id);
								tripPointList.UiControl.insertTripPoint(tp.id,group_id,name);
								tripPointList.UiControl.updateMark();
								
								PathOnMap.updateMark();
								PathOnMap.redrawLine();
								reLayout();
							/*
								//var item_id=tmp_mark.v+1;
								//ui_addTripPoint(item_id,tmp_mark.group_id,$('#newTripPoint .place').val().split(',')[0],getGroupColor(tmp_mark.group_id));
								item=$('#newTripPoint');
								deleteTmpMark();
								item.remove();
								ui_updateNumberMark();
								redrawLine();
								reLayout();
								reSortable(edit_s);
								editTarget_id=item_id;
								ui_showMarkDetail(item_id);
							//	ui_createPost(item_id);
								ui_selectList(item_id);
								ui_closeConfirmBox();
								*/
							});
													
						});
					});
				}else
					tripPointEdit.UiListener.confirmCancel();
				$('#add_new').hide();
			},
			wrongTripPoint:function(){
				closeConfirmBox();
				closeMarkDetail();
				
				$('#pointTarget').attr('src',getMarkURL('P',getGroupColor(newTripPointData.group_id)));
				
				setNewManPos();
			},
			//取消新增手動地點
			cancelSetNewManPos:function(){
				target.hide();
				moduleInstance.UiListener.confirmCancel();
			}
		}
		
	};
};