var TripListbarModule = function(obj){
	var target =$(obj);
	
	var UiListener = {
		//新建一個旅行(click)
		newTrip:function(){
			createNewTrip();			
		},
		clickEditTrip:function(item){	
			item.show();
			setTimeout(function(){
				item.bind('clickoutside',function(){
						item.hide();
						item.unbind('clickoutside');
				});
			},50);
		}
	};
	
	return {
		//初始化
		init_trip_listbar:function(obj){
			target.find('#trip_create_button').click(UiListener.newTrip);
			
			//---------時間軸設置---------
			//可垂直拖曳
			target.find("#dates").draggable({ axis: "y" });	
			//點擊時變換遊標圖示
			target.find("#dates").mousedown(function(){
				target.find("#dates").css("cursor","url(<%=asset_path('cursor_drag_hand.png')%>),auto");
			}).mouseup(function(){
				target.find("#dates").css("cursor","url(<%=asset_path('cursor_hand.png')%>),auto");
			});	
			//滑鼠滾輪滾動時間軸
			target.find("#dates").bind("mousewheel",function(event, delta) {
				if(delta>0){
					target.find("#dates").css('top',($("#dates").position().top+30)+"px");
				}else{
					target.find("#dates").css('top',($("#dates").position().top-30)+"px");
				}
			});
			
			EnvData.isTripListLoaded=true;
		},
		
		reset:function(){
			target.find('#dates').empty();
		},
		
		loadTripList:function(user_id){
			if(!EnvData.isTripListLoaded){
				this.init_trip_listbar(target);
			}
			
			//draw triplist to rightbar
			var nowtime=new Date();
			var tripList=DataStatus.tripList;
			var yearlist=[];
			
			if(tripList.length==0){
				target.find('#dates').append('<a class="selected">現在</a></li>'+'<li><a>'+nowtime.getFullYear()+'</a></li>');
			}else{
				var str="";
				for(var i=0;i<tripList.length;i++){
					var year=tripList[i].start_date.split('-')[0];
					if(!yearlist[year]){
						str+='<li id="year_label_'+year+'"><a>'+year+'</a></li>';
					}
					yearlist[year]=true;
					tripList[i].year=year;
				}
				
				
				str='<li><a class="selected">現在</a></li>'+str;
				target.find('#dates').append(str);
				
				for(var i=0; i<tripList.length; i++){
					var tripcard='';
					
					tripcard+='<div id="trip_list_'+tripList[i].id+'" class="trip_list_info" >';
					tripcard+='<div class="trip_edit" title="編輯">';
					
					tripcard+='</div>';
					tripcard+='<div class="trip_list_date" onclick="loadTrip('+tripList[i].id+')">'+tripList[i].start_date+'</div>';
					tripcard+='<div class="trip_list_name" onclick="loadTrip('+tripList[i].id+')">'+tripList[i].name+'</div>';
					tripcard+='</div>';
							
					$('#year_label_'+tripList[i].year).before(tripcard);
				}
			}
			this.ownerModeSwitch();
		},
		ownerModeSwitch:function(){
			if(DataStatus.isOwner){
				target.find('#trip_create').show();
				
				//insert trip edit menu
				var tripList=DataStatus.tripList;
				var tripEditList=target.find('.trip_edit');
				for(var i=0; i<tripList.length; i++){
					var editMenu='';
					editMenu+='<img src="<%=asset_path('edit2.png')%>"></img>';
					editMenu+='<div class="trip_edit_menu">';
					editMenu+='<div onclick="Data.deleteTrip('+tripList[i].id+')"><img src="<%=asset_path('delete1.png')%>">刪除</div>';
					editMenu+='</div>';
					tripEditList.eq(i).append(editMenu).click(function(){
						UiListener.clickEditTrip($(this).find('.trip_edit_menu').eq(0));
					});
				}
			}
		},
		UiControl:{
			show:function(){
				target.show(1000);
			},
			hide:function(){
				target.hide(1000);
			}
		}
	};
};