var TrippointItemModule=function(obj){
	var target=obj;
	
	var groupItemManager;
	
	//設定當前所在 景點列表
	var setTripPointList=function(tpList){
		for(i=0;i<tpList.length;i++){
			insertTripPoint(tpList[i].id,tpList[i].group_id,tpList[i].sort_id,tpList[i].place.name,tpList[i].place.latitude, tpList[i].place.longitude);
		}
	};
	
	//加入景點
	var insertTripPoint=function(i,group_id, sort_id,title, lat, lng){
		str='';		
		str+='<li>';
		str+='<div class="point columns"'; 
		str+=' data-id="'+i+'"';
		str+=' data-sort_id="'+sort_id+'"';
		str+=' data-latitude="'+lat+'"';
		str+=' data-longitude="'+lng+'"';
		str+='>';
		str+='<div class="row">'; 
		str+='<div class="large-2 columns">';
		str+='<div class="row">';
		str+='<img class="point_mark" />';
		str+='</div>';
		str+='</div>';
		str+='<div class="large-8 columns">';
		str+='<div class="row">';
		str+='<a class="point_name">'+title+'</a>';
		str+='</div>';
		str+='</div>';
		str+='<div class="point_edit large-2 columns" id="removeTripPoint">';
		str+='</div>';
		str+='</div>';
		str+='</div>';
		str+='</li>';


		var item=$(str).appendTo(target.find('.trip_point_group:[data-id='+group_id+'] ul'));
		initEvent(item,group_id);
		
		if(DataStatus.isOwner){
			ownerModeEnable(item);
		}
	};

	var initEvent=function(item,group_id){
		item.find('.point_name').click(function(event){
			contentBox.cancelEditWarning(group_id,function(){
				var item=$(event.target).parents('.point');
				var id=item.data('id');		
				if(readJournal_s){
					PathOnMap.showTripPointInfo(id);
					PathOnMap.centerTripPointOnLeftMap(id);
					contentBox.UiControl.showContent(group_id,id);
				}else{
					PathOnMap.showBeforeReadBubble(id);
					PathOnMap.centerTripPointOnAllMap(id);
				}
				selectTripPointEffect(item);
				tripPointList.selectGroup(group_id);
			});
		}).end();
	};
	
	var ownerModeEnable=function(item){
		var str='<i class="foundicon-trash"></i>';

		item.find('.point_edit').append(str)
			.find('i').click(function(event){
					var id=$(event.target).parents('.point').data('id');
					removePoint(id);
				});
	};

	var confirmDelete=function(name,callback){		
		$( "#dialog" ).find('p').text('確定刪除此 '+name+' ?').end()
		.dialog({
		  resizable: false,
		  height:140,
		  modal: true,
		  buttons: {
			"確定": function() {
			  $( this ).dialog( "close" );
			  if(callback)
				callback();
			},
			Cancel: function() {
			  $( this ).dialog( "close" );
			}
		  }
		});			
	};
	
	//按下景點名稱
	var clickPointTitle=function(group_id,id){
		//計算遊記內景點mark地圖縮放大小
/*		var showingGroup=groupItemManager.getSelectedGroupId();
		if(showingGroup!=group_id){
			var tmp=[];
			var tpList=$('.trip_point_group:[data-id='+group_id+'] .point');
			computeMap(tpList);
		}
*/
		
		
		
/*
		if(contentBox.isShow()&&showingGroup==group_id){
			PathOnMap.showMarkInfo(id);
			contentBox.UiControl.showContent(group_id,id);
		}else{
			contentBox.UiControl.hideContent();
			contentBox.reset();
								
			document.title='WanderWorld地球漫遊 - '+DataStatus.trip_name;
			window.history.pushState(null,document.title,'/'+DataStatus.trip_id);
			
			PathOnMap.showMarkInfo(id);
		}
		
		tripPointEdit.UiListener.confirmCancel();
*/
};
	
	//點選景點得視覺效果
	var selectTripPointEffect=function(item){
		unselectTripPointEffect();
		item.addClass('trip_point_selected');
	};
	//取消鎖定景點的效果
	var unselectTripPointEffect=function(){
		show_id=null
		target.find('.trip_point_selected').removeClass('trip_point_selected');
	};
	
	
	
	
	
	//移除景點
	var removePoint=function(item_id){
		var point=$('.point[data-id='+item_id+']');
		var name=point.find('.point_name').text();
		
		if(window.confirm('您確定要刪除 '+name+' ?') == false){
			return true;
		}

		point.remove();
		PathOnMap.closeInfoWindow(item_id);
		
		Data.deleteTripPoint(item_id);
		
		updateMark();
		
		PathOnMap.updateMark();
		PathOnMap.redrawLine();
								
		reLayout();
	};
	
	//在增加景點框按enter(keydown)
	var enterTripPoint=function(event,group_id,item){
		target.find("#newTripPoint").unbind("clickoutside");
		if(event.keyCode==13||event.type=='click'){
			var item_id=$(event.target).parent().val();
			
			addItem(group_id,item);			
			contentBox.UiControl.hideContent();					
		}
	};
	
	//定位新的景點並加入
	var addItem=function(group_id,item){
		var str=item.val();
		var box=str.split(",");
		var name=box[0];
		var city= box[1] ? box[1] : '';
		
		tripPointEdit.setNewTripPointInput(item);
		tripPointEdit.findTripPointByName(name, city, group_id, getNewTripPoint_sort_id(group_id));
	};
	
	var getNewTripPoint_sort_id=function(group_id){
		
		//input所在group內中的最大sort_id
		var lowbound=null;
		
		var tripPointList = $('.point');
		var tplen=tripPointList.length;
		
		//找尋input所在group內中的最大sort_id
		for(var i=0; i<tplen; i++){
			if(tripPointList[i].group_id==group_id){
				if(lowbound == null || tripPointList[i].sort_id > lowbound){
					lowbound = tripPointList[i].sort_id;
				}
			}
		}
		
		if(lowbound==null){
			return 0;
		}else{
			return lowbound+1;
		}
	};

	var updateMark=function(){
		var groupList=DataStatus.groupList;
		var plist = target.find('.point_mark');
		for(var i=0; i<plist.length; i++){
			var t=plist.eq(i);
			t.attr('src',getMarkURL(i+1,getGroupColor(t.parents('.trip_point_group').data('id'))));
		}
	};
	
	var getSelectedTripPointItem=function(){
		return $('.trip_point_selected');
	};
	
	var getSelectedTripPointId=function(){
		var item=getSelectedTripPointItem();
		if(item)
			return item.data('id');
		else
			return null;
	};
	
	return {
		init:function(){
			console.log('裝載tripPointList');
			var tripPointPane=target.find('#trip_point_list').addClass('scroll-pane')
		},
		initJavascript:function(){
			var a=$('.point');
			for(var i=0; i<a.length; i++){
				var t=a.eq(i);
				initEvent(t,t.parents('.trip_point_group').data('id'));
				if(DataStatus.isOwner){
					ownerModeEnable(t);
				}
			}
			updateMark();
		},
		refresh:function(pointList){
			setTripPointList(pointList);
			updateMark();
		},
		updateMark:function(){
			updateMark();
		},
		setGroupItemManager:function(gim){
			groupItemManager=gim;
		},
		selectTripPoint:function(id){
			selectTripPointEffect($('.point:[data-id='+id+']'));
		},
		getSelectedTripPointId:function(){
			return getSelectedTripPointId();
		},
		getSelectedTripPointItem:function(){
			return getSelectedTripPointItem();
		},
		addNewTripPoint:function(event,group_id,item){
			enterTripPoint(event,group_id,item);
		},
		insertTripPoint:function(i,group_id,sort_id,title,lat,lng){
			insertTripPoint(i,group_id,sort_id,title,lat,lng);
		}
	};
};