<div class="row expandView">

    <div class="large-10 columns ">
    	<div id="gallery">
	    	<div class="body"> 
	    	</div>	
    	</div>
    </div>
    <div class= "large-2 columns gallery list">
    	<p>cool</p>
    </div>
</div>