
<%

	@newuser=User.new
	@user_session=UserSession.new
				
	@trip_id=params[:id]
	@journal_id=params[:tp_id]	
	
	#從處理要求triplist要求
	@user_id = params[:user_id]
%>
<div class="row wrapper">
    <div class="large-9 columns large-offset-1">
    	<ul class="large-block-grid-4 small-block-grid-3 clearing-thumbs" data-clearing>
		<% @photo_src.each do |p| %>
			<%=photo_tag(p[:picture],p[:source]).html_safe%>
		<% end %>	
		<!--
    		<li><a class="th gallery" href="/yellowbook-life/10395_533917856628131_626399093_n.jpg"><img  src="/yellowbook-life/10395_533917856628131_626399093_n.jpg"></a></li>
    		<li><a class="th gallery" href="/yellowbook-life/10395_533917856628131_626399093_n.jpg"><img  src="/yellowbook-life/10395_533917856628131_626399093_n.jpg"></a></li>
    		<li><a class="th gallery" href="/yellowbook-life/10395_533917856628131_626399093_n.jpg"><img  src="/yellowbook-life/10395_533917856628131_626399093_n.jpg"></a></li>
    		<li><a class="th gallery" href="/yellowbook-life/10395_533917856628131_626399093_n.jpg"><img  src="/yellowbook-life/10395_533917856628131_626399093_n.jpg"></a></li>
    		<li><a class="th gallery" href="/yellowbook-life/10395_533917856628131_626399093_n.jpg"><img  src="/yellowbook-life/10395_533917856628131_626399093_n.jpg"></a></li>
    		<li><a class="th gallery" href="/yellowbook-life/10395_533917856628131_626399093_n.jpg"><img  src="/yellowbook-life/10395_533917856628131_626399093_n.jpg"></a></li>
    		<li><a class="th gallery" href="/yellowbook-life/10395_533917856628131_626399093_n.jpg"><img  src="/yellowbook-life/10395_533917856628131_626399093_n.jpg"></a></li>
    		<li><a class="th gallery" href="/yellowbook-life/10395_533917856628131_626399093_n.jpg"><img  src="/yellowbook-life/10395_533917856628131_626399093_n.jpg"></a></li>
    		<li><a class="th gallery" href="/yellowbook-life/10395_533917856628131_626399093_n.jpg"><img  src="/yellowbook-life/10395_533917856628131_626399093_n.jpg"></a></li>-->
    	</ul>
    </div>
    <div class= "large-2 columns gallery list">
    	<p>cool</p>
    </div>
</div>
