
<%

	@newuser=User.new
	@user_session=UserSession.new
				
	@trip_id=params[:id]
	@journal_id=params[:tp_id]	
	
	#從處理要求triplist要求
	@user_id = params[:user_id]
%>
<div class="row wrapper" media="screen">


    <div class="large-9 columns large-offset-1">
    	<div id="photo_wall">
	    	<div class="body"> 
	    	</div>	
    	</div>
    </div>
    <div class= "large-2 columns gallery list">
    	<p>cool</p>
    </div>
</div>
