<div class="row">

    <div class="large-9 columns large-offset-1">
        <ul class="large-block-grid-4 small-block-grid-2">
            <li><div class="album gallery" href="#">
                <div>
                    <a href="#"><img src="<%=asset_path('banded/a3.jpg')%>" /></a>
                </div>
                <div class="album-info">
                    <h6 class="margin-bottom:0px;"><a href="#">旅行名稱</a></h6>
                    <p class="subheader">X張照片</p>
                </div>
                </div>
            </li>
        </ul>
    

    </div>

    <div class= "large-2 columns gallery list">
        <h5 class="text-center">旅行相簿</h5>
    </div>
</div>

<div class="row">

<footer></footer>
</div>