<div class="row expandView">

<!--main control-->
	<!--div class="large-1 columns panel gallery">
	    <div class="row">
			<img src='<%=asset_path("user_avatar.png")%>' style="display:block; margin:auto;"></img>
        	<h5><a class="black text-center" id="person_name" href="#" style="display:block; word-wrap:break-word" ></a></h5>
        </div>
        <div class="row">
        		<h6 class="title" ><a href="/rapid/triplist/<%=@author_id%>" class="black" id="firstStop" onclick="showTravelJournal()"><i class="foundicon-globe"></i>遊記</a></h6>
        		<h6 class="title" ><a href="/photos/all/<%=@author_id%>" class="black" id="firstStop" ><i class="foundicon-globe"></i>相簿</a></h6>
        </div>
    </div-->
    <div class="large-11 columns">
    <div class="row">
    </div>
    <div class="row">

    </div>
    	
    </div>
</div>