<div class="row wrapper">

    <div class="large-9 columns large-offset-1">
        <ul class="large-block-grid-4 small-block-grid-2" id="album-list">
		<% @albums.each do |a|%>
			<%=album_tag(a.trip_id,a.name,a.img(:thumb),a.number).html_safe%>
		<%end%>
        </ul>
    </div>

    <div class= "large-2 columns gallery list">
                
        <h5 class="text-center white">旅行相簿</h5>

    </div>
</div>

<div class="row">

<footer></footer>
</div>
