<div class="row">

    <div class="large-10 columns ">

    <div class="large-2 columns album" href="#">
        <div class="travel-date"><a class="subheader white">2013/7/25-2013/8/2</a></div>
        <div>
            <a href="#"><img src="<%=asset_path('banded/a3.jpg')%>" /></a>
        </div>
        <div class="album-info">
            <h6 class="margin-bottom:0px;"><a href="#">旅行名稱</a></h6>
            <p class="subheader">X張照片</p>
        </div>
    </div>
    </div>

    <div class= "large-2 columns gallery list">
        <h5 class="text-center">旅行相簿</h5>
    </div>
</div>

<div class="row">

<footer></footer>
</div>